

 
body {background-color:beige}



header, section {
    color:black;
    background-color:bisque;
    font-size: 40px;
    font-family: 'Roboto Flex', sans-serif;
    width: 1000px;
    border: 30px;
        padding: 20px;
    margin: 60px;

}
#sectioncolumna {
       
    width: 1000px;
    border: 30px;
        padding: 20px;
    margin: 60px; 
}


img {width: 200px;
height: 200px;
margin-right: 16px;}

.columnas{
    display: flex;
   width: 1600px;
   position: inherit;
    
}
.columna {
    padding: 10px;
    border: 10px;
    margin: 0, 5px;
    width: 230px;
    
}




h1 {color:black;
    background-color:bisque;
    font-size: 20px;
    font-family: 'Dancing Script';
    width: 200px;
    border: 20px ;
        padding: 10px;
    margin: 30px;
    margin-bottom: 10px;
    
}



#nombrearriba, #contacto {color:black;
    background-color:bisque;
    font-size: 60px;
    font-family: 'Dancing Script';
    width: 1000px;
    border: 30px ;
        padding: 20px;
    margin: 60px;
    
}
h2 {color:black;
        background-color:beige;
    font-size: 20px;
    font-family: 'Michroma', sans-serif;

    width: 1000px;
  border: 30px;
  padding: 20px;
  margin: 60px;

}
p{color:black;
    
font-size: 15px;
font-family: 'Michroma', sans-serif;

width: 200px;
border: 20px;
padding: 10px;
margin: 30px;

}


LI{ color:black;
    
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 200px;
    border: 10PX ;
    padding: 5px;
    margin: 10px;
    margin-top: 10px;
    list-style-type: circle
}


.form_wrap {
    
    border: 30px;
    padding: 20px;
margin: 60px;
    display: flex;
    background color: #fff;
    border-radius: 10px;
    overflow: hidden;
}


form.form_contact {

 width: 800px;
 padding: 30px 40px;


}
form.form_contact h1 {
font-size: 50px;
font-weight: 800;
margin-bottom: 30px;

}
form.form_contact .user_info {
    display: flex;
    flex-direction: column;
}
/** Comentario*/
form.form_contact label {
    font-weight: 600;
}
form.form_contact input,
form.form_contact textarea {
width: 100%;
padding: 8px 0px 5px;
}

form.form_contact textarea {

    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}
form.form_contact input [type= "button"] {
    width: 180px;
    background-color: azure;
    padding: 10px;
    border-radius: 25px;
    align-self: flex-end;
}



#colorfondo, #Fecha, #demo {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    border: 10PX ;
    border-left: 40px;
    padding: 10px;
    margin: 10px;

}


#boton, #Fecha1, #boton1, #DATOSPERSONALES1, #EXPECTATIVAS1, #FORMACION1, #EXPERIENCIA1  {
    font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg;
  color: $button-text-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  
  
}

#btnSend {
    margin-top: 10px;
    z-index: 99;
    position:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background: linear-gradient(45deg, #e09fc5, #c0659d);
    border-radius: 20px;
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
  }

#fa-solid_fa-heart {
    margin-right: 10px;
}